.contact-me__container {
  margin-left: 28vw;
  width: calc(100% - 28vw);
}

.contact-me {
  max-width: 90%;
  min-height: calc(100vh);
  padding: 5rem 8% 0;
}

.contact-me__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem 0.625rem;
  position: relative;
}

.contact-me__form > label {
  color: #c44900;
  font-size: 1.15rem;
  margin-bottom: 0.25rem;
  height: 2rem;
}

.contact-me__form > input {
  width: 100%;
  height: 2.8125rem;
  align-self: center;
  padding: 0.625rem 0.9375rem;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
  border: 1px solid black;
  outline: none;
  font-size: 0.9rem;
  color: var(--font-color);
}

.contact-me__form textarea {
  resize: none;
  width: 100%;
  height: 15.625rem;
  align-self: center;
  margin-bottom: 1.25rem;
  border: 1px solid black;
  outline: none;
  padding: 0.625rem 0.9375rem;
  color: var(--font-color);
  font-size: 0.9rem;
}

.contact-me__form button[type="submit"] {
  width: 18.75rem;
  align-self: center;
  border: none;
  height: 3.125rem;
  border-radius: 4.375rem;
  font-size: 1.2rem;
  letter-spacing: 0.1875rem;
  background-color: #c44900;
  color: white;
  margin-bottom: 2rem;
}

.contact-me__form button[type="submit"]:active {
  background-color: #c4652e;
}

.loader {
  position: absolute;
  width: 85px;
  height: 50px;
  bottom: 0;
  left: 45%;
  justify-self: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#c44900 50px, transparent 0),
    linear-gradient(#c44900 50px, transparent 0),
    linear-gradient(#c44900 50px, transparent 0),
    linear-gradient(#c44900 50px, transparent 0),
    linear-gradient(#c44900 50px, transparent 0),
    linear-gradient(#c44900 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center,
    60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}

@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }
  16% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  }
  33% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px,
      10px 3px;
  }
  50% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px,
      10px 3px;
  }
  66% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px,
      10px 3px;
  }
  83% {
    background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px,
      10px 3px;
  }
  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px,
      10px 50px;
  }
}

/* Media querys */

@media screen and (max-width: 1030px) {
  .contact-me__container {
    margin-left: 0;
    width: 100%;
  }

  .contact-me {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .contact-me {
    margin: 0 auto;
    padding: 5rem 0 0;
    max-width: 95%;
  }


}

@media screen and (max-width: 780px) {
  .loader {
    bottom: -0.625rem;
    left: 40%;
  }
}