.skills-page__container {
    /* min-height: 100svh; */
    display: grid;
}

.skills-page__content {
    display: grid;
    padding: 2rem;
    gap: 2rem;
}

.skills-page__content-marker {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,280px));
}