.about-me__container {
    margin-left: 28vw;
    width: calc(100vw - 28vw);
    height: 70vh;
}

.about-me {
    width: 90%;
    height: 100%;
    padding: 10px 100px;
}

.about-me__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: center;
    gap: 32px;
}

.about-me__content h2 {
    font-size: 2.8rem;
    max-width: 22ch;
    color: var(--font-color);
}

.about-me__content h2 span {
    color: var(--highlight-span);
}

.about-me__content p {
    max-width: 48ch;
    font-size: 1.2rem;
    color: var(--font-color);
}