.about-me__container {
  margin-left: 28vw;
  width: calc(100% - 28vw);
}

.about-me {
  width: 90%;
  padding: 5rem 8% 0;
  min-height: calc(70vh);
}

.about-me__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  padding-top: 2.8125rem;
}

.about-me__content h2 {
  font-size: 2.8rem;
  max-width: 22ch;
  color: var(--font-color);
}

.about-me__content h2 span {
  color: var(--highlight-span);
}

.about-me__content p {
  max-width: 48ch;
  line-height: 1.875rem;
  font-size: 1.2rem;
  color: var(--font-color);
}

@media screen and (max-width: 1030px) {

  .about-me__container {
    margin-left: 0;
    width: 100%;
  }

  .about-me {
    margin: 0 auto; 
  }
}

@media screen and (max-width: 450px) {
  .about-me {
    padding: 5rem 0 0;
    max-width: 95%;
  }
}