.book-marker {
    width: 180px;
    height: 50px;
    border-radius: 70px;
    border: 1px solid black;
    display: flex;
    padding-left: 25px;
    align-items: center;
    background-color: #f5e7ce;
}

.book-marker p:nth-child(1) {
    font-size: 1.3rem;
    display: flex;
    color: #c44800;
    flex-grow: 0;
    margin-right: -25px;
}

.book-marker p:nth-child(2) {
    letter-spacing: 3px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
}