.home-page__download button {
    width: 18.75rem;
    height: 3.125rem;
    border: 1px solid #C44900;
    border-radius: 4.375rem;
    color:#C44900;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625em;
    cursor: pointer;
    margin-top: 1.875rem;
    letter-spacing: .125rem;
    background-color: rgba(255, 255, 255, 0.927);
  }

  .home-page__download button p {
    color: black;
  }

  .home-page__download-icon {
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
  }