.home-page__container {
  margin-left: 28vw;
  width: calc(100vw - 29vw);
  height: 100vh;
}

.home-page {
  width: 90%;
  height: calc(100vh - 10vh);
  top: 10vh;
  padding: 10px 100px 15vh 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-page__svg {
  width: 350px;
  position: absolute;
  top: -50px;
  right: -150px;
  z-index: 1;
  opacity: 0.6;
}

.home-page__personal-info {
  margin-top: 45px;
  width: 600px;
}

.home-page__personal-info h1 {
  font-size: 4.2rem;
  color: #04151fcc;
  letter-spacing: 3px;
  line-height: 70px;
  overflow: hidden;
}

.home-page__personal-info h1 span {
  color: var(--highlight-span);
  letter-spacing: 5px;
}

.home-page__personal-info__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.home-page__personal-info p {
  margin-top: 20px; 
  color: #04151fa7;
  font-size: 1.25rem;
  width: 450px;
  letter-spacing: 2px;
}

.home-page__download {
  color: #04151f9b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }

  .home-page {
    width: 90%;
    padding: 10px 3rem 15vh 3rem;
  }

  .home-page__svg {
    width: 25rem;
    top: -6rem;
    right: -11rem;
  }

  .home-page__personal-info {
    margin-top: 2.3rem;
    width: 32vw;
  }

  .home-page__personal-info h1 {
    letter-spacing: 0.2rem;
    line-height: 4.3rem;
  }

  .home-page__personal-info h1 span {
    letter-spacing: 0;
  }

  .home-page__personal-info p {
    margin-top: 1.5rem; 
    width: 100%;
    letter-spacing: 0.2rem;
  }

  .home-page__download {
    font-size: 0.9rem;
  }
}

@media (max-width: 815px) {
  .home-page__container {
    margin-left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
  }

  .home-page {
    width: 90%;
    height: 100%;
    top: 0;
    padding: 0 2rem 7rem 2rem;
  }

  .home-page__personal-info {
    margin-top: 4rem;
    width: 50rem;
  }
}