.home-page__container {
  margin-left: 28vw;
  width: calc(100% - 28vw);
  padding-top: 5rem;
}

.home-page {
  max-width: 90%;
  min-height: calc(100vh - 5rem);
  padding: 0.625rem 8% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-page__svg {
  width: 21.875rem;
  position: absolute;
  top: -3.125rem;
  right: -9.375rem;
  z-index: 1;
  opacity: 0.5;
}

.home-page__personal-info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 83%;
  position: absolute;
}

.home-page__personal-info {
  margin-top: 5rem;
  width: 100%;
}

.home-page__personal-info h1 {
  font-size: 4.2rem;
  color: #04151fcc;
  letter-spacing: 0.1875rem;
  line-height: 4.375rem;
  max-width: 67%;
}

.home-page__personal-info h1 span {
  color: var(--highlight-span);
  letter-spacing: 0.3125rem;
}

.home-page__personal-info p {
  margin-top: 2.5rem;
  color: #04151fa7;
  font-size: 1.25rem;
  max-width: 28.125rem;
  letter-spacing: 0.125rem;
}

.home-page__download {
  color: #04151f9b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-right: 8%;
}

@media screen and (max-width: 1030px) {
  .home-page__container {
    margin-left: 0;
    width: 100%;
    padding-top: 5rem;
  }

  .home-page {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .home-page {
    padding: 5rem 0 0;
    max-width: 95%;
  }

  .home-page__download {
    color: #04151f9b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    margin: 0 auto;
  }
}