.main-menu__container {
  position: fixed;
  display: flex;
  align-items: center;
  left: 28vw;
  width: calc(100vw - 28vw);
  height: 10vh;
}

.main-menu {
  display: flex;
  width: 90%;
  gap: 50px;  
  justify-content: center;
  font-size: 1.07rem;
}

.main-menu li {
  cursor: pointer;
}

.main-menu li:hover {
  border-bottom: 1.5px solid black;
  margin-bottom: -1.5px;
}
