@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.side-card__container {
  width: 28vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 1500;
}

.side-card {
  min-width: 24.375rem;
  height: 46rem;
  border: 1px solid #c4480045;
  border-radius: 4.375rem 0px 4.375rem 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.285);
  margin: 0 5%;
}

.side-card__content {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.side-card__content__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;
  flex-grow: 0.2;
}

.side-card__content__header p:first-child {
  font-size: 2.8rem;
  font-family: "Kaushan Script", cursive;
  text-shadow: 0.1875rem 0.1875rem 1px rgba(0, 0, 0, 0.482);
  display: flex;
  align-items: center;
  color: #c44800b8;
  cursor: pointer;
  padding-right: 1rem;
}

.side-card__content__header p:nth-child(2) {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  text-align: end;
  color: rgba(0, 0, 0, 0.802);
}

.side-card__content__picture {
  flex-grow: 4;
  padding: 0.625rem;
  background-image: url("../assets/tt.jpg");
  background-size: cover;
  border-radius: 4.375rem 0px 4.375rem 0px;
}

.side-card__content__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem 0 0 0;
  justify-content: space-between;
}

.side-card__content__info p:nth-child(1) {
  font-size: 1.3rem;
}

.side-card__content__info p:nth-child(2) {
  font-size: 1.2rem;
}

.side-card__content__info p:nth-child(3) {
  font-size: 0.95rem;
}

.side-card__content__social {
  flex-grow: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.side-card__content__social p {
  font-size: 1.3rem;
  border: 2px solid #04151fcf;
  color: #04151fcf;
  padding: 0.8125rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.side-card__content__btn {
  flex-grow: 0.5;
  border-radius: 4.375rem;
  background-color: #c44800b8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-card__content__btn:active {
  background-color: #c37c53b8;
}

.side-card__content__btn button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  gap: 0.625rem;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.side-card__content__btn-letter {
  font-size: 2rem;
}

/* Media querys */

@media screen and (max-width: 1030px) {
  .side-card__container {
    width: 100%;
    position: static;
    padding: 10% 0;
    justify-content: center;
  }
}

@media screen and (max-width: 1030px) {
  .side-card__container {
    width: 100%;
    position: static;
    padding: 10% 0;
    justify-content: center;
  }
}

@media screen and (max-height: 650px) {
  html {
    font-size: 60%;
  }

  .side-card__container {
    justify-content: center;
  }

  .side-card {
    min-width: 21rem;
    height: 38rem;
    margin: 0 0;
  }
}