.skills__container {
  margin-left: 28vw;
  width: calc(100% - 28vw);
  padding-top: 5rem;
}

.skills-page {
  width: 90%;
  padding: 0.625rem 8% 0;
}

.skills-page__cards {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3.125rem 0.125rem;
  width: 100%;
  gap: 0.625rem;
}

.skills-page__cards .skill-icons {
  font-size: 7rem;
  margin-top: 0.625rem;
  transition: outline 3s;
  flex-grow: 1;
}

.skills-page__cards .skill-icons:hover {
  border-radius: 1rem;
  outline: 1.3px solid #d2753b;
}

.html-icon {
  color: rgb(241, 101, 41);
}

.js-icon {
  color: rgb(233, 202, 49);
}

.ts-icon {
  color: rgb(45, 121, 199);
}

.css-icon {
  color: rgb(33, 76, 229);
}

.react-icon {
  color: rgb(97, 219, 251);
}

.nest-icon {
  color: rgb(225, 30, 77);
}

.github-icon {
  color: rgb(20, 25, 30);
}

.git-icon {
  color: rgb(240, 80, 48);
}

.sql-icon {
  color: rgb(0, 103, 141);
}

@media screen and (max-width: 1360px) {
  .skills-page__cards {
    display: block;
  }

  .skills-page__cards .skill-icons {
    font-size: 8rem;
  }
}

@media screen and (max-width: 1030px) {
  .skills__container {
    margin-left: 0;
    width: 100%;
  }

  .skills-page {
    margin: 0 auto;
  }
}
